@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.cabecalho__menu__hamburguer {
    width: 35px;
    height: 40px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho__container__icone {
    padding: 0.5rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 75vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-size: 1rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul-degrade);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
}
